.MenuButton {
  padding: 5px 15px;

  border-radius: 13px;
  background-color: #5f5c6e;
  color: #bdb7d6;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
}
.constructor_open {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.constructor_open::before,
.constructor_open::after {
  content: "";
  position: absolute;
  top: 14px;
  background-color: #ace1ff;
  width: 19px;
  height: 5px;
  transition: all 0.3s ease 0s;
}

.constructor_closed {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.constructor_closed::before,
.constructor_closed::after {
  content: "";
  position: absolute;
  top: 12px;
  background-color: #ace1ff;
  width: 19px;
  height: 5px;
  transition: all 0.3s ease 0s;
}

.constructor_closed::after {
  right: 0px;
  transform: rotate(-45deg);
}
.constructor_closed::before {
  right: 11px;
  transform: rotate(45deg);
}

.constructor_open::after {
  right: 0px;
  transform: rotate(45deg);
}
.constructor_open::before {
  right: 11px;
  transform: rotate(-45deg);
}
.constructor {
  transition-delay: 1s;
}

.regSymbol {
  position: absolute;
  right: 5px;
  color: black;
  font-weight: 400;
  font-size: 24px;
}
